# -------
# Modules
# -------

# Sets sane Zsh built-in environment options.
zmodule environment

# Open git repository in current directory.
zmodule paulirish/git-open

# Applies correct bindkeys for input events.
zmodule input

# vi mode for zsh
# zmodule jeffreytse/zsh-vi-mode

# Sets a custom terminal title.
zmodule termtitle

# Aliases for exa
zmodule exa

# Manage multiple runtime versions with a single CLI tool
zmodule asdf

#
# Prompt
#

# Theme
zmodule romkatv/powerlevel10k

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions

# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
zmodule completion

# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting

# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

#
# Oh My Zsh
#

# Use ohmyzsh git aliases
zmodule ohmyzsh/ohmyzsh --source plugins/git/git.plugin.zsh

# Use ohmyzsh extract plugin
zmodule ohmyzsh/ohmyzsh --source plugins/extract/extract.plugin.zsh --fpath plugins/extract 

# Use ohmyzsh cp plugin
zmodule ohmyzsh/ohmyzsh --source plugins/cp/cp.plugin.zsh

# Use ohmyzsh sudo plugin
zmodule ohmyzsh/ohmyzsh --source plugins/sudo/sudo.plugin.zsh


