#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

# Open git repository in current directory.
zmodule paulirish/git-open

# vi mode for zsh
# zmodule jeffreytse/zsh-vi-mode

# Aliases for exa
zmodule exa

# Manage multiple runtime versions with a single CLI tool
zmodule asdf

# Configures fzf to use fd or ripgrep for faster fetching of files and directories names.
zmodule fzf

# Safe rm command
zmodule mattmc3/zsh-safe-rm --use git

#
# Prompt
#

# Theme
zmodule romkatv/powerlevel10k

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

#
# Oh My Zsh
#

# extract
zmodule ohmyzsh/ohmyzsh --source plugins/extract/extract.plugin.zsh --fpath plugins/extract 

# cp
zmodule ohmyzsh/ohmyzsh --source plugins/cp/cp.plugin.zsh

# sudo
zmodule ohmyzsh/ohmyzsh --source plugins/sudo/sudo.plugin.zsh
